<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UPS1</display-name>
  <servlet>
    <servlet-name>loginServlet1</servlet-name>
    <servlet-class>UPS.Servlet.loginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet1</servlet-name>
    <url-pattern>/login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createCustomer</display-name>
    <servlet-name>createCustomer</servlet-name>
    <servlet-class>UPS.Servlet.createCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCustomer</servlet-name>
    <url-pattern>/createCustomer</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>tryTest</display-name>
    <servlet-name>tryTest</servlet-name>
    <servlet-class>UPS.Servlet.tryTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tryTest</servlet-name>
    <url-pattern>/tryTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createOrderServlet</display-name>
    <servlet-name>createOrderServlet</servlet-name>
    <servlet-class>UPS.Servlet.createOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createOrderServlet</servlet-name>
    <url-pattern>/createOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custOrderUpdateServlet</display-name>
    <servlet-name>custOrderUpdateServlet</servlet-name>
    <servlet-class>UPS.Servlet.custOrderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custOrderUpdateServlet</servlet-name>
    <url-pattern>/custOrderUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productServlet</display-name>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>UPS.Servlet.productServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <description></description>
    <display-name>createCustomerM</display-name>
    <servlet-name>createCustomerM</servlet-name>
    <servlet-class>UPS.Servlet.createCustomerM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCustomerM</servlet-name>
    <url-pattern>/createCustomerM</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>createOrderServletM</display-name>
    <servlet-name>createOrderServletM</servlet-name>
    <servlet-class>UPS.Servlet.createOrderServletM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createOrderServletM</servlet-name>
    <url-pattern>/createOrderServletM</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>productServletM</display-name>
    <servlet-name>productServletM</servlet-name>
    <servlet-class>UPS.Servlet.productServletM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServletM</servlet-name>
    <url-pattern>/productServletM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custOrderUpdateServletM</display-name>
    <servlet-name>custOrderUpdateServletM</servlet-name>
    <servlet-class>UPS.Servlet.custOrderUpdateServletM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custOrderUpdateServletM</servlet-name>
    <url-pattern>/custOrderUpdateServletM</url-pattern>
  </servlet-mapping>
</web-app>